@model OnlineShoppingCart.Models.User
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var imagePath = ViewBag.ExistingImage as string ?? "~/frontassets/img/person/profile.png";
}





<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card shadow p-4" style="width: 100%; max-width: 400px; border-radius: 20px;">
        <h2 class="text-center mb-1 text-dark fw-bold" style="color: #4c4a98;">Update Admin Profile</h2>

        <form asp-action="UpdateProfile" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label fw-bold">Name</label>
                <input type="text" class="form-control" name="fullName" value="@Model.UserName">
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">New Profile Picture:</label>
                <input type="file" name="profileImage" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Current Password:</label>
                <input type="password" name="UserPassword" class="form-control">
                <span class="text-danger">@ViewData.ModelState["UserPassword"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">New Password:</label>
                <input type="password" name="newPassword" class="form-control">
                <span class="text-danger">@ViewData.ModelState["newPassword"]?.Errors.FirstOrDefault()?.ErrorMessage</span>
            </div>

            <div class="d-grid mb-3">
                <button type="submit" class="btn text-white" style="background-color: #4c4a98;">Update Profile</button>
            </div>
        </form>

    </div>
</div>