
@model ContactU


<main class="main">


    <!-- Page Title -->
    <div class="page-title light-background">
        <div class="container">
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Contact</li>
                </ol>
                <h1>Contact Us</h1>
            </nav>

        </div>
    </div><!-- End Page Title -->
    <!-- Contact 2 Section -->
    <section id="contact-2" class="contact-2 section mt-5">


        <div class="container mb-5 mt-5" data-aos="fade-up" data-aos-delay="100">

            <div class="row gy-4">

                <div class="row">
                    <div class="col-lg-8 text-center section-title light-background">
                        <h2 class="faq-heading">Contact Us</h2>
                    </div>
                </div>

                @if (TempData["SuccessMessage"] != null)
                {
                    <div class="alert alert-success text-center" role="alert">
                        @TempData["SuccessMessage"]
                    </div>
                }

                <div class="col-lg-8">
                    <form method="post" asp-action="Contact" novalidate class="contact-email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">

                            <div class="col-md-6">
                                <input type="text" asp-for="ContactName" class="form-control"  placeholder="Your Name" >
                                <span class="text-danger" asp-validation-for="ContactName"></span>
                            </div>

                            <div class="col-md-6 ">
                                <input type="email" class="form-control" asp-for="ContactEmail" placeholder="Your Email">
                                <span class="text-danger" asp-validation-for="ContactEmail"></span>
                            </div>

                            <div class="col-md-12">
                                <input type="text" class="form-control" asp-for="ContactSubject" placeholder="Subject">
                                <span class="text-danger" asp-validation-for="ContactSubject"></span>
                            </div>

                            <div class="col-md-12">
                                <textarea class="form-control" asp-for="ContactMessage" rows="6" placeholder="Message" ></textarea>
                                <span class="text-danger" asp-validation-for="ContactMessage"></span>
                            </div>

                            <div class="col-md-12 text-start">


                                <button type="submit">Send Message</button>
                            </div>

                        </div>
                    </form>
                </div><!-- End Contact Form -->

                <div class="col-lg-4">
                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-geo-alt flex-shrink-0"></i>
                        <div>
                            <h3>Address</h3>
                            <p>XYZ Street Town</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-telephone flex-shrink-0"></i>
                        <div>
                            <h3>Call Us</h3>
                            <p>+1 5589 55488 55</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-envelope flex-shrink-0"></i>
                        <div>
                            <h3>Email Us</h3>
                            <p>ARTS@gmail.com</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>



            </div>

        </div>

    </section>



</main>

<script>
    setTimeout(function () {
        let alert = document.querySelector('.alert');
        if (alert) {
            alert.style.display = 'none';
        }
    }, 5000); // 5 seconds
</script>