
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ARTS</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="~/frontassets/img/favicon.png" rel="icon">
    <link href="~/frontassets/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Vendor CSS Files -->
    <link href="~/frontassets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/frontassets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link  href="~/frontassets/css/style.css" rel="stylesheet"/>

    <style>
        .page-title {
            background: #000000dc;
            color: #ffffff !important;
            padding: 48px;
            margin-bottom: 0;
        }

        .breadcrumbs ol {
            list-style: none;
            padding: 0;
            margin: 0 0 20px 0;
            display: flex;
            flex-wrap: wrap;
        }

        .breadcrumbs li {
            margin-right: -18px;
        }

            .breadcrumbs li:after {
                content: '/';
                margin-left: 5px;
                color: #E53888;
            }

        .page-title h1 {
            color: #ffffff !important;
        }

        .login .login-header {
            margin-bottom: 35px;
        }

       

        .login .login-header h2 {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 12px;
            background: #e53888;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    </style>



</head>
<body class="index-page">





    @*   RENDEER BODY AREA *@

    <div>

        @RenderBody()
    </div>


    @*   RENDEER BODY AREA *@










    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/frontassets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/frontassets/vendor/swiper/swiper-bundle.min.js"></script>


    <!-- Main JS File -->
    <script src="~/frontassets/js/main.js"></script>

</body>

</html>
















































